.custom-bg-color {
    background-color: #202020;
  }

.demo-badge-color {
    color: #84FF82;
}
.dlc-badge-color {
    color: #7D7D7D;
}

.card {
    width: 350px; /* Puedes ajustar el tamaño aquí */
    height: 380px;
    /* Agrega otros estilos si es necesario */
  }

h1 {
    color: #FFFFFF;
}