.custom-bg-color {
  background-color: #202020;
}

.demo-badge-color {
  color: #84FF82;
}
.dlc-badge-color {
  color: #7D7D7D;
}
.time-badge-color {
  color: #ff6969;
}

.stock-badge-color {
  color: #3fff3c;
}
.nostock-badge-color {
  color: #ff3c3c;
}

.card {
  max-width: 100%; /* Puedes ajustar el tamaño aquí */
  max-height: 100%;
  /* Agrega otros estilos si es necesario */
}

h1 {
    color: #FFFFFF;
    font-size: 24px;
}

.card-body {
  display: flex;
  justify-content: space-between;
padding: 15px;
}