
.navbar {
  /* Estilos comunes para el navbar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.navbar-top {
  background-color: transparent;
}

.color-custom-btn-carrito{
  background-color: #3B82F6;
  color: #fff;
}

.color-custom-btn-carrito:hover{
  background-color: #ffffff;
  color: black;
}

.navbar-scrolled {
  backdrop-filter: blur(60px) saturate(100%);
  -webkit-backdrop-filter: blur(60px) saturate(100%);
  background-color: rgba(0, 0, 0, .75);
}

.btn-cart-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn-cart-nav .quantity-nav {
  position: absolute;
  top: -5px;
  left: -13px;
  background-color: #3B82F6;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.icon-cart-nav {
  width: 20px;
  height: 25px;
  transition: .2s linear;
}

.icon-cart-nav path {
  fill: rgb(255, 255, 255);
  transition: .2s linear;
}

.btn-cart-nav:hover > .icon-cart-nav {
  transform: scale(1.2);
}

.btn-cart-nav:hover > .icon-cart-nav path {
  fill: #3B82F6;
}

.btn-cart-nav:hover .quantity-nav {
  visibility: visible;
  opacity: 1;
}

.button-nav {
  --primary-color: #3B82F6;
  --secondary-color: #fff;
  --hover-color: #000000;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.5em 1.2em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.button-nav .arrow-wrapper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav .arrow-nav {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.button-nav .arrow-nav::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button-nav:hover {
  background-color: var(--hover-color);
}

.button-nav:hover .arrow-nav {
  background: var(--secondary-color);
}

.button-nav:hover .arrow-nav:before {
  right: 0;
}

.button-nav:hover {
  background-color: var(--secondary-color); /* Cambiar el color de fondo a blanco */
  color: var(--primary-color); /* Cambiar el color del texto a negro */
}

.button-nav:hover .arrow-nav {
  background: var(--primary-color); /* Cambiar el color de la flecha al color primario */
}

.button-nav:hover .arrow-nav:before {
  border-color: var(--primary-color); /* Cambiar el color de la flecha al color primario */
}

.search-icon-nav,
.close-search-nav {
  top: calc(50% - 0.5rem); /* Centra verticalmente */
  transform: translateY(-50%);
}

.search-icon-nav {
  left: 0.75rem; /* Ajusta el margen izquierdo */
}

.close-search-nav {
  right: 0.75rem; /* Ajusta el margen derecho */
}

.settings-icon-nav {
  top: calc(50% - 0.5rem); /* Centra verticalmente */
  right: 2.75rem; /* Ajusta el margen derecho */
  transform: translateY(-50%);
}

.desplegable-search {
  background-color: #202020fa; /* Color con menos opacidad */
  backdrop-filter: blur(60px) saturate(100%);
  -webkit-backdrop-filter: blur(60px) saturate(100%);
  width: 600px;
  max-height: 940px; /* Establece una altura máxima */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.carrito-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 3px;
    position: relative;
    width: 300px;
    right: 180px;
    height: 100%;
    border-radius: 20px;
    background-color: #202020fa; /* Color con menos opacidad */
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    padding: 10px;
}

.card-game-carrito-nav{

  height: 400px;
}


.text-gray-400 {
  color: rgba(255, 255, 255, 0.7); /* Color del texto con menos opacidad */
}

.custom-width-desplegable {
  width: 100%;
  margin-top: 13px;
}

.custom-item-juego-despliegue{
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  color: white;
  width: 98%;
}
.custom-item-juego-despliegue:hover {
  cursor: pointer;
  background-color: #3B82F6;
  padding: 5px;
  border-radius: 10px;
  color: white;
  width: 98%;
}

.custom-cards-gap {
  display: flex;
  gap: 358px;
  align-items: flex-start;
}

.another-custom-search {
  position: sticky;
  top: 0;
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido desplegable */
  padding: 10px; /* Espaciado interno para el encabezado */
}

.juegos-encontrados-container {
  max-height: 761px; /* Establece una altura máxima para el contenido desplegable */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es demasiado largo */
}

.search-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 19px;
}

.delete-icon:hover {
  fill: red;
}


.card-body-cart{
  width: 300px;
}
