.button-nav {
  padding: 8px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #3B82F6;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button-nav:hover {
  background-color: #38afff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.button-nav:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.w-custom-dropdown {
  width: 800px;
}

.left-custom-dropdown {
  transform: translateX(-85%);
}