.ui-bookmark-game {
  --icon-size: 20px;
  --icon-secondary-color: rgb(255, 255, 255);
  --icon-hover-color: rgb(252, 54, 54);
  --icon-primary-color: rgb(252, 54, 54);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 30px;
  --icon-anmt-duration: 0.3s;
}

.ui-bookmark-game input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark-game .bookmark-game {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: top;
}

.bookmark-game::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: 0 25px 0 -4px var(--icon-primary-color), 25px 0 0 -4px var(--icon-primary-color), 0 -25px 0 -4px var(--icon-primary-color), -25px 0 0 -4px var(--icon-primary-color), -20px 20px 0 -4px var(--icon-primary-color), -20px -20px 0 -4px var(--icon-primary-color), 20px -20px 0 -4px var(--icon-primary-color), 20px 20px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  transform: scale(0);
  padding: 1px;
}

.bookmark-game::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-bookmark-game:hover .bookmark-game {
  fill: var(--icon-hover-color);
}

.ui-bookmark-game input:checked + .bookmark-game::after {
  animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark-game input:checked + .bookmark-game {
  fill: var(--icon-primary-color);
  animation: bookmark var(--icon-anmt-duration) forwards;
  transition-delay: 0.3s;
}

.ui-bookmark-game input:checked + .bookmark-game::before {
  animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

@keyframes bookmark-game {
  50% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circles {
  from {
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
