@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
box-sizing: border-box;
background-color: rgb(105, 105, 105);
width: 100%;
height:auto;
padding: 0;
margin: 0;

}