.title-category {
    transition: gap 0.3s ease;
}

.title-category:hover {
    gap: 15px;
}

.image-container {
    position: relative;
    width: 400px;
    height: 225px;
}

.image-container {
    position: relative;
}

.text-container {
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.text-container p {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease; /* Transición suave para el cambio de filtro */
}

.image-container:hover .background-image {
    filter: brightness(50%); /* Aplica el efecto de oscurecimiento al hacer hover en cualquier parte de la imagen */
}

.card-container {
    pointer-events: none;
    position: absolute;
    bottom: 0.5px;
    left: 40%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
}

.custom-coop {
    width: 88%;
}
.custom-lucha {
    width: 65%;
    margin-bottom: -0.1%;
}
.custom-arcade {
    width: 80%;
}
.custom-rpg {
    width: 60%;
    margin-bottom: -0.2%;
}
.custom-indies {
    width: 70%;
    margin-bottom: -13px;
}

.wallpaper-indie{
    opacity: 30%;
    border-radius: 20px;
}

.custom-simulacion {
    left: 25%;
    bottom: -10%;
    width: 85%;
}
.custom-mmo {
    width: 65%;
    bottom: -1.8px;
}

.wallpaper-mmo{
    opacity: 30%;
    border-radius: 20px;
}

.custom-gestion {
    width: 62%;
}

.wallpaper-gestion {
    opacity: 30%;
    border-radius: 20px;
}
.custom-deporte {
    width: 65%;
}
.wallpaper-deportes {
    opacity: 30%;
    border-radius: 20px;
}

.image-container:hover .card-container,
.background-image:hover ~ .card-container {
    transform: translate(-50%, 0%) scale(103%);
}

