  .custom-subtext-orders {
    color: #999;
  }
  
  .custom-hr-orders {
    border: 0;
    height: 1px;
    background: #333;
  }
  
  .custom-hr2-orders {
    border: 0;
    height: 2px;
    background: #444;
  }
  